.device-list {
  background: var(--background-secondary);
  margin-bottom: 12px;
  color: var(--text);
  padding: 28px;
  border-radius: 12px;
  gap: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  min-height: 98px;
  box-shadow: 0px 5px 7px -1px rgba(0,0,0,0.20);
  text-decoration: none;
}

ul {
  list-style: none;
}

.device-list-wrapper {
  display: flex;
}

.device-list-wrapper img {
  margin-right: 8px;
  width: 28px;
}

.device-list-item {
  display: flex;
  align-items: center;
  font-weight: var(--font-weigth-bold);
  font-size: var(--font-size-medium);
  margin-bottom: 14px;
  color: var(--text);
}

.device-list-academy {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.device-list-academy-label {
  font-size: var(--font-size-small);
  text-transform: uppercase;
  font-weight: var(--font-weigth-normal);
}

.device-list-academy-value {
  font-weight: var(--font-weigth-bold);
  font-size: var(--font-size-big);
}

.details {
  margin-bottom: 20px;
}