body {
  padding: 20px;
  background: var(--background);
}

.main {
  display: grid;
  max-width: 1280px;
  margin: 0 auto;
}

.main-title {
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--text);
}